:root {
  --square: 80px;
}
.board {
  display: grid;
  height: calc(var(--square) * 9);
  outline: 2px solid blue;
  width: calc(var(--square) * 9);
}
.box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
}
.box {
  height: calc(var(--square) * 3);
  outline: 2px solid black;
  width: calc(var(--square) * 3);
}
.cell-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.cell {
  display: grid;
  align-items: center;
  justify-content: center;
  height: var(--square);
  margin: 0;
  outline: 1px solid black;
  position: relative;
  width: var(--square);
}
.cell.cell--active {
  background-color: lightblue;
  mix-blend-mode: multiply;
}
.cell-number {
  border: 0;
  box-sizing: border-box;
  font-size: 3em;
  margin: 0;
  pointer-events: none;
  text-align: center;
}
