.board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  outline: 2px solid blue;
  width: 720px;
}
.cell {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin: 0;
  outline: 1px solid black;
  position: relative;
  width: 80px;
}
.cell.cell--active {
  background-color: lightblue;
  z-index: 1;
}
.cell-number {
  border: 0;
  box-sizing: border-box;
  font-size: 3em;
  margin: 0;
  pointer-events: none;
  text-align: center;
}
